<div>
  <h2>CRUD Operation</h2>
<!-- <hr></hr> -->

<!-- <app-data-binding></app-data-binding> -->
 <ul
  class="nav justify-content-center  "
 >
  <li class="nav-item">
    <!-- <a class="nav-link active" href="#" aria-current="page">Data Binding</a> -->
    <a class="nav-link active" [routerLink] = "'dataBinding'">Data Binding</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="admin">Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="user">User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="control-flow">Control Flow</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="template-form">Template Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="reactive-form">Reactive Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="getApi">Get API</a>
  </li>
 </ul>
 
</div>


<router-outlet />
