<h2>user list component</h2>
<button class="btn btn-primary" (click)="navigateLink()">go to admin pg</button>


<div class="table">
    <tr>
        <th>SL</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Contact</th>
        <th>Website</th>
        <!-- <th></th> -->
    </tr>
    @for(user of userList;track $index){
    <tr>
        <td>{{$index + 1}}</td> 
        <td>{{user.name}}</td> 
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.contact}}</td>
        <td>{{user.website}}</td>
     
    </tr>
}  
</div>